[defaults]
# disable host key checking
host_key_checking = False

# Installs **and** lookup collections into [current dir]/ansible_collections/namespace/collection_name
#collections_paths = /tmp/ubuntu2204/

# Installs **and** lookup roles into [current dir]/roles/namespace.rolename
#roles_path = ./tmp/ubuntu2204/roles